/* Iterverse Design System — webfonts.
   Roboto (OFL licensed) is BTECH's primary typeface, including the logo
   logotype itself. Only the weights actually used across Iterverse are
   included here (Regular/Medium/Bold) - the full family (Light/Black/
   italics, Roboto Condensed, Open Sans, Helvetica Neue LT Std print
   fallback) lives in the source BTECH Design System export if a future
   project needs more. Path is relative to wherever this file is served
   from - each project copies assets/fonts/ alongside its own copy of this file. */
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
